// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'vue2-daterange-picker/dist/vue2-daterange-picker.css';

// Sweet alert
@import 'sweetalert2/src/sweetalert2.scss';
